{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width ,inital-scale=1.0">
	<title>SHOOT | Ecommerce website</title>
	<link rel="stylesheet"  href="{%static '/css/style.css'%}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script type="text/javascript">
		var user ='{{request.user}}'

		function getToken(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		const csrftoken = getToken('csrftoken');

	</script>
	<script type="text/javascript"></script>
	
</head>
<body>
	

 	{% include 'shoes/navbar.html'%}
	{% block content %}

	{% endblock%}

<!-- footer -->
<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer_col-1">
					<h3>Download Our App</h3>
					<p>Download App For Android and Ios Mobile Phone</p>
					<div class="app_logo">
						<img src="{% static 'images/play-store.png' %}">
						<img src="{% static 'images/app-store.png' %}">
					</div>
				</div>

			<div class="footer_col-2">
				<img src="{% static 'images/logo.png' %}">
				<p>Make the best out of your outfit</p>
			</div>
			<div class="footer_col-3">
				<h3>Useful links</h3>
				<ul>
					<li>Coupons:</li>
					<li>Blog Post</li>
					<li>Return Policy</li>
					<li>Join Affilate</li>
				</ul>
			</div>

			<div class="footer_col-4">
				<h3>contact Us</h3>
				<ul>
					<li>Facebook:- shoot</li>
					<li>Instagram:- shoot__</li>
					<li>phone:-  +977 9818365488</li>
					<li>Email:- shootweb9@gmail.com</li>
					
				</ul>
			</div>


		</div>
		<hr>
		<p class="Copyright">Copyright 2020 -shootweb</p>
	</div>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	
</body>
</html>

