{% extends 'shoes/main.html'%}
{% load static %}
{% block content %}
<style>

#para{
	margin-bottom: 50px;
}

#head{
	margin-bottom: 50px;
	text-align: center;
	color: #FFA500;
}
</style>



<h3  id='head'>Password reset sent</h3>


<p id='para'>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p id='para'>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>



{% endblock %}